In [1]:
import pandas as pd
import os
import datetime as dt

## Weather

In [2]:
filelist = []
tablenames = []
for file in os.listdir('Weather_Data'):  #gets filenames
    filelist.append('Weather_Data/'+file) #adds relative path
    tablenames.append(file[:-4]) #gets the table names minus the .csv

In [3]:
df_list = []
for table in filelist:  #goes through the list of file paths
    df = pd.read_csv(table) #imports each file
    df_list.append(df) #adds it to the list
df_list

[                  datetime  Vancouver  Portland  San Francisco  Seattle  \
 0      2012-10-01 12:00:00        NaN       NaN            NaN      NaN
 1      2012-10-01 13:00:00       76.0      81.0           88.0     81.0
 2      2012-10-01 14:00:00       76.0      80.0           87.0     80.0
 3      2012-10-01 15:00:00       76.0      80.0           86.0     80.0
 4      2012-10-01 16:00:00       77.0      80.0           85.0     79.0
 5      2012-10-01 17:00:00       78.0      79.0           84.0     79.0
 6      2012-10-01 18:00:00       78.0      79.0           83.0     78.0
 7      2012-10-01 19:00:00       79.0      78.0           82.0     77.0
 8      2012-10-01 20:00:00       79.0      78.0           81.0     77.0
 9      2012-10-01 21:00:00       80.0      77.0           80.0     76.0
 10     2012-10-01 22:00:00       81.0      77.0           79.0     76.0
 11     2012-10-01 23:00:00       81.0      77.0           78.0     75.0
 12     2012-10-02 00:00:00       82.0      76.0           77.0     75.0
 13     2012-10-02 01:00:00       83.0      76.0           76.0     74.0
 14     2012-10-02 02:00:00       83.0      75.0           75.0     73.0
 15     2012-10-02 03:00:00       84.0      75.0           74.0     73.0
 16     2012-10-02 04:00:00       84.0      75.0           73.0     72.0
 17     2012-10-02 05:00:00       85.0      74.0           72.0     72.0
 18     2012-10-02 06:00:00       86.0      74.0           71.0     71.0
 19     2012-10-02 07:00:00       86.0      73.0           70.0     71.0
 20     2012-10-02 08:00:00       87.0      73.0           69.0     70.0
 21     2012-10-02 09:00:00       87.0      73.0           68.0     69.0
 22     2012-10-02 10:00:00       88.0      72.0           67.0     69.0
 23     2012-10-02 11:00:00       89.0      72.0           66.0     68.0
 24     2012-10-02 12:00:00       89.0      71.0           65.0     68.0
 25     2012-10-02 13:00:00       90.0      71.0           64.0     67.0
 26     2012-10-02 14:00:00       91.0      71.0           63.0     67.0
 27     2012-10-02 15:00:00       89.0      76.0           51.0     87.0
 28     2012-10-02 16:00:00       76.0      62.0           56.0     76.0
 29     2012-10-02 17:00:00       76.0      75.0           94.0     58.0
 ...                    ...        ...       ...            ...      ...
 45223  2017-11-28 19:00:00        NaN     100.0            NaN    100.0
 45224  2017-11-28 20:00:00        NaN     100.0            NaN    100.0
 45225  2017-11-28 21:00:00        NaN     100.0            NaN     93.0
 45226  2017-11-28 22:00:00        NaN     100.0            NaN    100.0
 45227  2017-11-28 23:00:00        NaN     100.0            NaN     93.0
 45228  2017-11-29 00:00:00        NaN      87.0            NaN     93.0
 45229  2017-11-29 01:00:00        NaN      93.0            NaN     93.0
 45230  2017-11-29 02:00:00        NaN      93.0            NaN     93.0
 45231  2017-11-29 03:00:00        NaN      87.0            NaN     93.0
 45232  2017-11-29 04:00:00        NaN      93.0            NaN     81.0
 45233  2017-11-29 05:00:00        NaN      93.0            NaN     87.0
 45234  2017-11-29 06:00:00        NaN      87.0            NaN     87.0
 45235  2017-11-29 07:00:00        NaN      87.0            NaN    100.0
 45236  2017-11-29 08:00:00        NaN      87.0            NaN     87.0
 45237  2017-11-29 09:00:00        NaN      87.0            NaN     93.0
 45238  2017-11-29 10:00:00        NaN      87.0            NaN     87.0
 45239  2017-11-29 11:00:00        NaN      87.0            NaN    100.0
 45240  2017-11-29 12:00:00        NaN      87.0            NaN     87.0
 45241  2017-11-29 13:00:00        NaN      87.0            NaN    100.0
 45242  2017-11-29 14:00:00        NaN      87.0            NaN    100.0
 45243  2017-11-29 15:00:00        NaN      87.0            NaN     87.0
 45244  2017-11-29 16:00:00        NaN      87.0            NaN    100.0
 45245  2017-11-29 17:00:00        NaN      87.0            NaN    100.0
 45246  2017-11-29 18:00:00        NaN      87.0            NaN    100.0
 45247  2017-11-29 19:00:00        NaN      81.0            NaN     81.0
 45248  2017-11-29 20:00:00        NaN      81.0            NaN     93.0
 45249  2017-11-29 21:00:00        NaN      71.0            NaN     87.0
 45250  2017-11-29 22:00:00        NaN      71.0            NaN     93.0
 45251  2017-11-29 23:00:00        NaN      71.0            NaN     87.0
 45252  2017-11-30 00:00:00        NaN      76.0            NaN     75.0

        Los Angeles  San Diego  Las Vegas  Phoenix  Albuquerque    ...      \
 0              NaN        NaN        NaN      NaN          NaN    ...
 1             88.0       82.0       22.0     23.0         50.0    ...
 2             88.0       81.0       21.0     23.0         49.0    ...
 3             88.0       81.0       21.0     23.0         49.0    ...
 4             88.0       81.0       21.0     23.0         49.0    ...
 5             88.0       80.0       21.0     24.0         49.0    ...
 6             88.0       80.0       21.0     24.0         49.0    ...
 7             88.0       80.0       21.0     24.0         49.0    ...
 8             88.0       79.0       20.0     25.0         49.0    ...
 9             88.0       79.0       20.0     25.0         49.0    ...
 10            88.0       78.0       20.0     26.0         48.0    ...
 11            88.0       78.0       20.0     26.0         48.0    ...
 12            88.0       78.0       20.0     26.0         48.0    ...
 13            88.0       77.0       20.0     27.0         48.0    ...
 14            88.0       77.0       19.0     27.0         48.0    ...
 15            88.0       77.0       19.0     27.0         48.0    ...
 16            88.0       76.0       19.0     28.0         48.0    ...
 17            88.0       76.0       19.0     28.0         48.0    ...
 18            88.0       75.0       19.0     29.0         47.0    ...
 19            88.0       75.0       19.0     29.0         47.0    ...
 20            88.0       75.0       18.0     29.0         47.0    ...
 21            88.0       74.0       18.0     30.0         47.0    ...
 22            88.0       74.0       18.0     30.0         47.0    ...
 23            88.0       74.0       18.0     30.0         47.0    ...
 24            88.0       73.0       18.0     31.0         47.0    ...
 25            88.0       73.0       18.0     31.0         47.0    ...
 26            88.0       73.0       18.0     32.0         47.0    ...
 27            88.0       73.0       16.0     17.0         41.0    ...
 28            23.0       22.0       23.0     28.0         40.0    ...
 29            19.0       15.0       18.0      NaN          NaN    ...
 ...            ...        ...        ...      ...          ...    ...
 45223         37.0       63.0       26.0     32.0         40.0    ...
 45224         28.0       59.0       21.0     56.0         35.0    ...
 45225         40.0       59.0       18.0     22.0         35.0    ...
 45226         23.0       59.0       21.0     53.0         35.0    ...
 45227         35.0       61.0       33.0     53.0         28.0    ...
 45228         28.0       77.0       18.0     18.0         34.0    ...
 45229         37.0       72.0       21.0     21.0         45.0    ...
 45230         42.0       72.0       24.0     50.0         49.0    ...
 45231         52.0       72.0       30.0     29.0         52.0    ...
 45232         45.0       82.0       37.0     82.0         48.0    ...
 45233         50.0       71.0       29.0     82.0         45.0    ...
 45234         67.0       67.0       34.0     71.0         52.0    ...
 45235         82.0       71.0       27.0     66.0         52.0    ...
 45236         82.0       71.0       25.0     40.0         56.0    ...
 45237         82.0       76.0       27.0     41.0         60.0    ...
 45238         87.0       76.0       31.0     40.0         60.0    ...
 45239         87.0       76.0       25.0     40.0         64.0    ...
 45240         93.0       76.0       27.0     37.0         69.0    ...
 45241         93.0       87.0       27.0     71.0         74.0    ...
 45242         93.0       81.0       31.0     71.0         74.0    ...
 45243         87.0       93.0       29.0     71.0         74.0    ...
 45244         82.0       87.0       27.0     76.0         64.0    ...
 45245         58.0       77.0       25.0    100.0         52.0    ...
 45246         42.0       72.0       28.0     88.0         49.0    ...
 45247         32.0       72.0       20.0     72.0         42.0    ...
 45248         24.0       72.0       18.0     68.0         37.0    ...
 45249         21.0       72.0       18.0     73.0         34.0    ...
 45250         23.0       68.0       17.0     60.0         32.0    ...
 45251         14.0       63.0       17.0     33.0         30.0    ...
 45252         56.0       72.0       17.0     23.0         34.0    ...

        Philadelphia  New York  Montreal  Boston  Beersheba  Tel Aviv District  \
 0               NaN       NaN       NaN     NaN        NaN                NaN
 1              71.0      58.0      93.0    68.0       50.0               63.0
 2              70.0      57.0      91.0    68.0       51.0               62.0
 3              70.0      57.0      87.0    68.0       51.0               62.0
 4              69.0      57.0      84.0    68.0       52.0               62.0
 5              69.0      57.0      80.0    68.0       54.0               62.0
 6              68.0      56.0      76.0    68.0       55.0               63.0
 7              68.0      56.0      72.0    68.0       56.0               63.0
 8              67.0      56.0      68.0    68.0       57.0               63.0
 9              67.0      55.0      64.0    68.0       58.0               64.0
 10             66.0      55.0      61.0    68.0       59.0               64.0
 11             66.0      55.0      57.0    68.0       60.0               64.0
 12             65.0      55.0      53.0    68.0       61.0               65.0
 13             65.0      54.0      49.0    68.0       62.0               65.0
 14             64.0      54.0      45.0    68.0       63.0               65.0
 15             64.0      54.0      42.0    68.0       64.0               66.0
 16             63.0      53.0      38.0    68.0       66.0               66.0
 17             63.0      53.0      34.0    68.0       67.0               66.0
 18             62.0      53.0      30.0    68.0       68.0               67.0
 19             62.0      53.0      26.0    68.0       69.0               67.0
 20             61.0      52.0      22.0    68.0       70.0               67.0
 21             61.0      52.0      19.0    68.0       71.0               68.0
 22             60.0      52.0      15.0    68.0       72.0               68.0
 23             60.0      51.0      11.0    68.0       73.0               68.0
 24             59.0      51.0       7.0    68.0       74.0               69.0
 25             59.0      51.0       NaN    68.0       75.0               69.0
 26             59.0      51.0       NaN    68.0       76.0               69.0
 27             48.0      52.0      82.0    64.0       78.0               70.0
 28             52.0       NaN       NaN    64.0       80.0               66.0
 29             43.0       NaN       NaN    64.0       83.0               74.0
 ...             ...       ...       ...     ...        ...                ...
 45223          36.0       NaN      59.0    32.0        NaN                NaN
 45224          36.0       NaN      59.0    32.0        NaN                NaN
 45225          38.0       NaN      59.0    34.0        NaN                NaN
 45226          46.0       NaN      59.0    60.0        NaN                NaN
 45227          50.0       NaN      74.0    60.0        NaN                NaN
 45228          62.0       NaN      64.0    74.0        NaN                NaN
 45229          66.0       NaN      64.0    60.0        NaN                NaN
 45230          71.0       NaN      64.0    75.0        NaN                NaN
 45231          76.0       NaN      65.0    81.0        NaN                NaN
 45232          76.0       NaN      65.0    87.0        NaN                NaN
 45233          87.0       NaN      65.0    86.0        NaN                NaN
 45234          87.0       NaN      69.0    93.0        NaN                NaN
 45235          93.0       NaN      80.0    81.0        NaN                NaN
 45236          87.0       NaN      80.0    81.0        NaN                NaN
 45237          93.0       NaN      93.0    76.0        NaN                NaN
 45238          93.0       NaN      87.0    76.0        NaN                NaN
 45239          93.0       NaN      87.0    87.0        NaN                NaN
 45240          87.0       NaN      86.0    76.0        NaN                NaN
 45241          87.0       NaN      93.0    81.0        NaN                NaN
 45242          81.0       NaN     100.0    66.0        NaN                NaN
 45243          58.0       NaN      93.0    58.0        NaN                NaN
 45244          47.0       NaN      86.0    54.0        NaN                NaN
 45245          33.0       NaN      75.0    44.0        NaN                NaN
 45246          50.0       NaN      73.0    30.0        NaN                NaN
 45247          29.0       NaN      73.0    41.0        NaN                NaN
 45248          27.0       NaN      64.0    37.0        NaN                NaN
 45249          29.0       NaN      59.0    74.0        NaN                NaN
 45250          31.0       NaN      66.0    74.0        NaN                NaN
 45251          26.0       NaN      58.0    56.0        NaN                NaN
 45252          32.0       NaN      58.0    56.0        NaN                NaN

        Eilat  Haifa  Nahariyya  Jerusalem
 0       25.0    NaN        NaN        NaN
 1       22.0   51.0       51.0       50.0
 2       22.0   51.0       51.0       50.0
 3       22.0   51.0       51.0       50.0
 4       22.0   51.0       51.0       50.0
 5       23.0   51.0       51.0       50.0
 6       23.0   51.0       51.0       50.0
 7       23.0   51.0       51.0       50.0
 8       24.0   51.0       51.0       50.0
 9       24.0   51.0       51.0       50.0
 10      24.0   51.0       51.0       50.0
 11      25.0   51.0       51.0       50.0
 12      25.0   51.0       51.0       50.0
 13      25.0   51.0       51.0       50.0
 14      26.0   51.0       51.0       50.0
 15      26.0   51.0       51.0       50.0
 16      26.0   51.0       51.0       50.0
 17      26.0   51.0       51.0       50.0
 18      27.0   51.0       51.0       50.0
 19      27.0   51.0       51.0       50.0
 20      27.0   51.0       51.0       50.0
 21      28.0   51.0       51.0       50.0
 22      28.0   51.0       51.0       50.0
 23      28.0   51.0       51.0       50.0
 24      29.0   51.0       51.0       50.0
 25      29.0   51.0       51.0       50.0
 26      29.0   51.0       51.0       50.0
 27      30.0   51.0       51.0       50.0
 28      28.0   51.0       51.0       50.0
 29      36.0   51.0       51.0       50.0
 ...      ...    ...        ...        ...
 45223    NaN    NaN        NaN        NaN
 45224    NaN    NaN        NaN        NaN
 45225    NaN    NaN        NaN        NaN
 45226    NaN    NaN        NaN        NaN
 45227    NaN    NaN        NaN        NaN
 45228    NaN    NaN        NaN        NaN
 45229    NaN    NaN        NaN        NaN
 45230    NaN    NaN        NaN        NaN
 45231    NaN    NaN        NaN        NaN
 45232    NaN    NaN        NaN        NaN
 45233    NaN    NaN        NaN        NaN
 45234    NaN    NaN        NaN        NaN
 45235    NaN    NaN        NaN        NaN
 45236    NaN    NaN        NaN        NaN
 45237    NaN    NaN        NaN        NaN
 45238    NaN    NaN        NaN        NaN
 45239    NaN    NaN        NaN        NaN
 45240    NaN    NaN        NaN        NaN
 45241    NaN    NaN        NaN        NaN
 45242    NaN    NaN        NaN        NaN
 45243    NaN    NaN        NaN        NaN
 45244    NaN    NaN        NaN        NaN
 45245    NaN    NaN        NaN        NaN
 45246    NaN    NaN        NaN        NaN
 45247    NaN    NaN        NaN        NaN
 45248    NaN    NaN        NaN        NaN
 45249    NaN    NaN        NaN        NaN
 45250    NaN    NaN        NaN        NaN
 45251    NaN    NaN        NaN        NaN
 45252    NaN    NaN        NaN        NaN

 [45253 rows x 37 columns],
                   datetime  Vancouver  Portland  San Francisco  Seattle  \
 0      2012-10-01 12:00:00        NaN       NaN            NaN      NaN
 1      2012-10-01 13:00:00        NaN    1024.0         1009.0   1027.0
 2      2012-10-01 14:00:00        NaN    1024.0         1009.0   1027.0
 3      2012-10-01 15:00:00        NaN    1024.0         1009.0   1028.0
 4      2012-10-01 16:00:00        NaN    1024.0         1009.0   1028.0
 5      2012-10-01 17:00:00        NaN    1024.0         1009.0   1029.0
 6      2012-10-01 18:00:00        NaN    1024.0         1010.0   1030.0
 7      2012-10-01 19:00:00        NaN    1024.0         1010.0   1031.0
 8      2012-10-01 20:00:00        NaN    1024.0         1010.0   1031.0
 9      2012-10-01 21:00:00        NaN    1024.0         1010.0   1032.0
 10     2012-10-01 22:00:00        NaN    1024.0         1011.0   1033.0
 11     2012-10-01 23:00:00        NaN    1024.0         1011.0   1034.0
 12     2012-10-02 00:00:00        NaN    1024.0         1011.0   1035.0
 13     2012-10-02 01:00:00        NaN    1024.0         1011.0   1035.0
 14     2012-10-02 02:00:00        NaN    1024.0         1012.0   1036.0
 15     2012-10-02 03:00:00        NaN    1024.0         1012.0   1037.0
 16     2012-10-02 04:00:00        NaN    1024.0         1012.0   1038.0
 17     2012-10-02 05:00:00        NaN    1024.0         1012.0   1038.0
 18     2012-10-02 06:00:00        NaN    1024.0         1013.0   1039.0
 19     2012-10-02 07:00:00        NaN    1024.0         1013.0   1040.0
 20     2012-10-02 08:00:00        NaN    1024.0         1013.0   1041.0
 21     2012-10-02 09:00:00      807.0    1024.0         1013.0   1042.0
 22     2012-10-02 10:00:00      849.0    1024.0         1014.0   1042.0
 23     2012-10-02 11:00:00      890.0    1024.0         1014.0   1043.0
 24     2012-10-02 12:00:00      932.0    1024.0         1014.0   1044.0
 25     2012-10-02 13:00:00      973.0    1024.0         1014.0   1045.0
 26     2012-10-02 14:00:00     1015.0    1024.0         1015.0   1046.0
 27     2012-10-02 15:00:00     1027.0    1024.0         1016.0   1026.0
 28     2012-10-02 16:00:00     1015.0    1024.0         1011.0   1026.0
 29     2012-10-02 17:00:00     1014.0    1027.0         1001.0   1027.0
 ...                    ...        ...       ...            ...      ...
 45223  2017-11-28 19:00:00        NaN    1017.0            NaN   1014.0
 45224  2017-11-28 20:00:00        NaN    1016.0            NaN   1014.0
 45225  2017-11-28 21:00:00        NaN    1016.0            NaN   1014.0
 45226  2017-11-28 22:00:00        NaN    1017.0            NaN   1014.0
 45227  2017-11-28 23:00:00        NaN    1017.0            NaN   1014.0
 45228  2017-11-29 00:00:00        NaN    1020.0            NaN   1016.0
 45229  2017-11-29 01:00:00        NaN    1021.0            NaN   1016.0
 45230  2017-11-29 02:00:00        NaN    1022.0            NaN   1017.0
 45231  2017-11-29 03:00:00        NaN    1022.0            NaN   1018.0
 45232  2017-11-29 04:00:00        NaN    1023.0            NaN   1019.0
 45233  2017-11-29 05:00:00        NaN    1025.0            NaN   1021.0
 45234  2017-11-29 06:00:00        NaN    1026.0            NaN   1021.0
 45235  2017-11-29 07:00:00        NaN    1026.0            NaN   1023.0
 45236  2017-11-29 08:00:00        NaN    1027.0            NaN   1025.0
 45237  2017-11-29 09:00:00        NaN    1028.0            NaN   1025.0

In [4]:
weather_df = pd.DataFrame({  #make a new dataframe with...
    'datetime' : df_list[0]['datetime'],   #datetime
    tablenames[0] : df_list[0]['Los Angeles'] #tablenames[0] will have the name of the weather condition we're importing.  
                                            #df_list[0]['Los Angeles'] will give us weather condition in LA for the weather condition we're currently on
})
weather_df.head()

              datetime  humidity
0  2012-10-01 12:00:00       NaN
1  2012-10-01 13:00:00      88.0
2  2012-10-01 14:00:00      88.0
3  2012-10-01 15:00:00      88.0
4  2012-10-01 16:00:00      88.0

In [5]:
#This works the same as the one above, but we're starting at index 1 because we already put index 0 in weather_df
for x in range(1, len(df_list)):  
    subframe = pd.DataFrame({  ##Creates a temporary dataframe with datetime and whichever weather condition in LA
        'datetime' : df_list[x]['datetime'],
        tablenames[x] : df_list[x]['Los Angeles']
    })
    weather_df = weather_df.merge(subframe, how='outer', on = 'datetime') ##merges the temporary dataframe 

weather_df.head()

,datetime,humidity,pressure,temperature,weather_description,wind_direction,wind_speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,88.0,1013.0,291.870000,mist,0.0,0.0
2,2012-10-01 14:00:00,88.0,1013.0,291.868186,sky is clear,0.0,0.0
3,2012-10-01 15:00:00,88.0,1013.0,291.862844,sky is clear,0.0,0.0
4,2012-10-01 16:00:00,88.0,1013.0,291.857503,sky is clear,0.0,0.0

In [6]:
weather_df['temperature'] = [round((x - 273.15) * 9/5 + 32,2) for x in weather_df['temperature']]  
##converts kelvin temperature to fahrenheit and rounds it to 2 decimal places
weather_df.sort_values(by='datetime', ascending=True)
weather_df.head()

,datetime,humidity,pressure,temperature,weather_description,wind_direction,wind_speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,88.0,1013.0,65.70,mist,0.0,0.0
2,2012-10-01 14:00:00,88.0,1013.0,65.69,sky is clear,0.0,0.0
3,2012-10-01 15:00:00,88.0,1013.0,65.68,sky is clear,0.0,0.0
4,2012-10-01 16:00:00,88.0,1013.0,65.67,sky is clear,0.0,0.0

In [7]:
weather_df.drop([0], inplace = True)
weather_df.reset_index(drop=True, inplace=True) #Reset the index after dropping the row
#First hour of weather data was empty

In [8]:
weather_df['datetime'] = [dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') for x in weather_df['datetime']] 
##Converts the datetime column from string to datetime
##Necessary for later time comparisons
weather_df

,datetime,humidity,pressure,temperature,weather_description,wind_direction,wind_speed
0,2012-10-01 13:00:00,88.0,1013.0,65.70,mist,0.0,0.0
1,2012-10-01 14:00:00,88.0,1013.0,65.69,sky is clear,0.0,0.0
2,2012-10-01 15:00:00,88.0,1013.0,65.68,sky is clear,0.0,0.0
3,2012-10-01 16:00:00,88.0,1013.0,65.67,sky is clear,0.0,0.0
4,2012-10-01 17:00:00,88.0,1013.0,65.66,sky is clear,0.0,0.0
5,2012-10-01 18:00:00,88.0,1013.0,65.65,sky is clear,0.0,0.0
6,2012-10-01 19:00:00,88.0,1013.0,65.64,sky is clear,0.0,0.0
7,2012-10-01 20:00:00,88.0,1013.0,65.64,sky is clear,0.0,0.0
8,2012-10-01 21:00:00,88.0,1013.0,65.63,sky is clear,0.0,0.0
9,2012-10-01 22:00:00,88.0,1013.0,65.62,sky is clear,0.0,0.0
10,2012-10-01 23:00:00,88.0,1013.0,65.61,sky is clear,0.0,0.0
11,2012-10-02 00:00:00,88.0,1013.0,65.60,sky is clear,0.0,0.0
12,2012-10-02 01:00:00,88.0,1013.0,65.59,sky is clear,0.0,0.0
13,2012-10-02 02:00:00,88.0,1013.0,65.58,sky is clear,0.0,0.0
14,2012-10-02 03:00:00,88.0,1013.0,65.57,sky is clear,0.0,0.0
15,2012-10-02 04:00:00,88.0,1013.0,65.56,sky is clear,0.0,0.0
16,2012-10-02 05:00:00,88.0,1013.0,65.55,sky is clear,0.0,0.0
17,2012-10-02 06:00:00,88.0,1013.0,65.54,sky is clear,0.0,0.0
18,2012-10-02 07:00:00,88.0,1013.0,65.53,sky is clear,0.0,0.0
19,2012-10-02 08:00:00,88.0,1013.0,65.52,sky is clear,0.0,0.0
20,2012-10-02 09:00:00,88.0,1013.0,65.51,sky is clear,0.0,0.0
21,2012-10-02 10:00:00,88.0,1013.0,65.50,sky is clear,0.0,0.0
22,2012-10-02 11:00:00,88.0,1013.0,65.49,sky is clear,0.0,0.0
23,2012-10-02 12:00:00,88.0,1013.0,65.48,sky is clear,0.0,0.0
24,2012-10-02 13:00:00,88.0,1013.0,65.47,sky is clear,0.0,0.0
25,2012-10-02 14:00:00,88.0,1013.0,65.46,mist,0.0,0.0
26,2012-10-02 15:00:00,88.0,1013.0,69.48,fog,0.0,0.0
27,2012-10-02 16:00:00,23.0,1014.0,72.39,sky is clear,235.0,0.0
28,2012-10-02 17:00:00,19.0,1014.0,76.60,sky is clear,245.0,1.0
29,2012-10-02 18:00:00,24.0,1013.0,87.22,sky is clear,0.0,0.0
...,...,...,...,...,...,...,...
45222,2017-11-28 19:00:00,37.0,1016.0,66.76,sky is clear,19.0,1.0
45223,2017-11-28 20:00:00,28.0,1016.0,70.86,sky is clear,13.0,1.0
45224,2017-11-28 21:00:00,40.0,1015.0,73.08,scattered clouds,260.0,5.0
45225,2017-11-28 22:00:00,23.0,1014.0,74.46,sky is clear,13.0,1.0
45226,2017-11-28 23:00:00,35.0,961.0,60.81,scattered clouds,359.0,0.0
45227,2017-11-29 00:00:00,28.0,1013.0,72.19,sky is clear,280.0,1.0
45228,2017-11-29 01:00:00,37.0,1014.0,69.10,sky is clear,359.0,0.0
45229,2017-11-29 02:00:00,42.0,1014.0,66.78,sky is clear,21.0,1.0
45230,2017-11-29 03:00:00,52.0,1014.0,64.51,sky is clear,21.0,1.0
45231,2017-11-29 04:00:00,45.0,1015.0,63.09,sky is clear,21.0,1.0
45232,2017-11-29 05:00:00,50.0,1017.0,61.14,sky is clear,21.0,1.0
45233,2017-11-29 06:00:00,67.0,1015.0,60.66,sky is clear,21.0,1.0
45234,2017-11-29 07:00:00,82.0,1016.0,59.49,sky is clear,21.0,1.0
45235,2017-11-29 08:00:00,82.0,1016.0,57.33,sky is clear,90.0,1.0
45236,2017-11-29 09:00:00,82.0,1016.0,56.12,sky is clear,29.0,0.0
45237,2017-11-29 10:00:00,87.0,1016.0,55.53,sky is clear,29.0,0.0
45238,2017-11-29 11:00:00,87.0,1015.0,53.73,sky is clear,9.0,0.0
45239,2017-11-29 12:00:00,93.0,1015.0,52.52,sky is clear,9.0,0.0
45240,2017-11-29 13:00:00,93.0,1016.0,51.93,mist,9.0,0.0
45241,2017-11-29 14:00:00,93.0,1016.0,50.86,scattered clouds,12.0,1.0
45242,2017-11-29 15:00:00,87.0,1016.0,50.11,scattered clouds,12.0,1.0
45243,2017-11-29 16:00:00,82.0,1016.0,49.60,broken clouds,180.0,1.0
45244,2017-11-29 17:00:00,58.0,1016.0,54.48,sky is clear,26.0,1.0
45245,2017-11-29 18:00:00,42.0,1017.0,60.57,sky is clear,26.0,1.0
45246,2017-11-29 19:00:00,32.0,1017.0,65.98,sky is clear,26.0,1.0
45247,2017-11-29 20:00:00,24.0,1016.0,68.72,sky is clear,19.0,1.0
45248,2017-11-29 21:00:00,21.0,1016.0,72.55,sky is clear,19.0,1.0
45249,2017-11-29 22:00:00,23.0,1015.0,73.06,sky is clear,19.0,1.0
45250,2017-11-29 23:00:00,14.0,1016.0,72.50,sky is clear,200.0,2.0
45251,2017-11-30 00:00:00,56.0,1015.0,71.20,sky is clear,250.0,1.0

In [9]:

weather_df.to_csv('LA_Weather.csv')

## Crime

In [10]:
crime_df = pd.read_csv('Crime/Crime_Data_2010_2017.csv')

In [11]:
def col_to_datetime(df):
    day = str(df['Date Occurred'])
    time_int = int(df['Time Occurred'])
    if time_int < 100:  ## Bug fix for hours happening between 0000 and 0100 on 24 hour clock
        hour = str('00')
    else:
        hour = str(time_int)[0:-2]   #Cuts out the last two digits so that only the hour is included
    return dt.datetime.strptime(day+hour, "%m/%d/%Y%H")

In [12]:
crime_df['datetime'] = crime_df.apply(col_to_datetime, axis=1)
crime_df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,datetime
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)",2013-03-11 18:00:00
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)",2010-01-22 23:00:00
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)",2013-03-18 20:00:00
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)",2010-11-10 18:00:00
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)",2014-01-04 23:00:00

In [1]:
crime_df = crime_df[crime_df['datetime'] >= dt.datetime.strptime(weather_df['datetime'][0], '%Y-%m-%d %H:%M:%S')]
crime_df

NameError: name 'crime_df' is not defined

In [15]:
main_df = crime_df.merge(weather_df, how='left', on='datetime')
main_df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Address,Cross Street,Location,datetime,humidity,pressure,temperature,weather_description,wind_direction,wind_speed
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)",2013-03-11 18:00:00,47.0,1023.0,62.60,sky is clear,137.0,0.0
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,VAN NESS,15TH,"(34.0454, -118.3157)",2010-01-22 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,200 E 104TH ST,NaN,"(33.942, -118.2717)",2013-03-18 20:00:00,59.0,1016.0,64.42,haze,0.0,0.0
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,88TH,WALL,"(33.9572, -118.2717)",2010-11-10 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)",2014-01-04 23:00:00,27.0,999.0,65.53,sky is clear,230.0,1.0

In [ ]:
main_df.to_csv('Main Table.csv')

In [ ]:
nmain_df['Crime Code Description'].unique()

In [17]:
main_df['Date Occurred'].nunique()

2809